# ===== Java / Spring Boot =====
target/
*.jar
*.war
*.class

# ===== IntelliJ =====
.idea/
*.iml
out/

# ===== Eclipse (caso abra em outra IDE) =====
.project
.classpath
.settings/

# ===== Maven =====
log/
*.log

# ===== Gradle (se usar no futuro) =====
.gradle/
build/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Environment / Secrets =====
.env
application-local.properties

# ===== Spring Boot cache =====
*.h2.db
*.mv.db